body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

.nav-container {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  background-color: #f2f2f2;
}

.nav-container>ul {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.nav-container>ul>li>a {
  text-decoration: underline dotted;
}

.download-container {
  width: 80%;
  margin: 20% auto;
  text-align: center;
}

.document-count-container {
 width: 80%;
 margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.input-container input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.input-container label {
  margin-top: 10px;
  color: #888;
}
